<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Creation de projet</title>
  <meta charset="utf-8">

  <link rel="icon" type="image/png" href="../../../../img/logo/logo_MNHN.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../../css/bootstrap.min.css">
  <script src="../../../../js/jquery-3.1.1.min.js"></script>
  <script src="../../../../js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="call-to-action">
		    <div class="service-box">
			    <form class="form-inscription" id="formProject" method="post" action="../../../service/admin/create_project.php">
					<h3>Créé un projet</h3>
					<div class="service-box">
						<p class="text-muted">Nom *</p>
						<input type="nom" class="form-control" placeholder="Nom"
							name="libelleProject">
					</div>
					<div class="service-box">
						<p class="text-muted">Commentaire </p>
                        <textarea class="form-control" rows="5" name="commentProject"></textarea>
                    </div>
				</form>

			</div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class = 'col-md-3'>
                <button type="submit" form="formProject"
		            class="btn btn-success"
			        href="../../../service/admin/create_project.php">Créer</button>
            </div>
            <div class = 'col-md-3'>
                <p>
                    <a href="../projet.php" class="btn btn-warning">Annuler</a>
                </p>
            </div>
        </div>

    </div>
</body>
</html>
