<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Creation de type de donnée</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../../css/bootstrap.min.css">
  <script src="../../../../js/jquery-3.1.1.min.js"></script>
  <script src="../../../../js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="call-to-action">
		    <div class="service-box">
			    <form class="form" id="formDatatype" method="post" action="../../../service/admin/create_reftypedonnee.php">
					<h3>Créé un type de donnée</h3>
					<div class="service-box">
						<p class="text-muted">Nom *</p>
						<input type="nom" class="form-control" placeholder="Nom"
							name="libelleDatatype">
					</div>
					<div class="service-box">
						<p class="text-muted">Commentaire </p>
                        <textarea class="form-control" rows="5" name="commentDatatype"></textarea>
                    </div>
				</form>

			</div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class = 'col-md-3'>
                <button type="submit" form="formDatatype"
		            class="btn btn-success"
			        href="../../../service/admin/create_reftypedonnee.php">Créé</button>
            </div>
            <div class = 'col-md-3'>
                <p>
                    <a href="../index.php" class="btn btn-warning">Annule</a>
                </p>
            </div>  
        </div>

    </div>
</body>
</html>