<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Creation d'experience validé</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="../../../../img/logo/logo_MNHN.png" />

	<!-- CSS -->
	<link href="../../../../css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../../css/basdepage.css" rel="stylesheet">
	<link href="../../../../css/validation.css" rel="stylesheet">

</head>
<body class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="main">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Félicitations !</h4>
						</div>
						<div class="modal-body">
							<center><p>L'experience a bien été créé.</p></center>
						</div>
						<div class="modal-footer">
							<a href="../experience.php"><button class="btn btn-success btn btn-success">Retour</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="../js/jquery-3.1.1.min.js"></script>
	<!-- bootstrap js -->
	<script src="../js/bootstrap.min.js"></script>
</body>
</html>
