<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Connection échoué</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="page-top">
    <div class="container text-center">
        <div class="call-to-action">
            <h3>Echec !</h3>  
            <p class="text-muted">Votre conte n'est pas actif<br>veuillez contacter l'admin</p>        
        </div>
        <br><br>
        <a href="../"><button class="btn btn-default-success">OK</button></a>
    </div>
</body>
</html>